a {
  color: #13A4F2;
}

.content a:hover, .footer a:hover {
  color: #13A4F2;
  text-decoration: none;
  border-bottom: 1px dotted #13A4F2;
  padding-bottom: 2px;
}

.content p {
  font-weight: 300;
}

.content code {
  background-color: #282c34;
  color: #abb2bf;
}

.navbar.bg-light {
  background-color: #FFF !important;
}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: -0.3rem;
  font-kerning: normal;
}

.navbar-light .navbar-nav .nav-link {
  color: #222;
  padding-bottom: 2px;
  border-bottom: 1px solid white;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-nav .nav-link.show:hover,
.navbar-light .navbar-nav .show>.nav-link:hover {
  color: #13A4F2;
  border-bottom: 1px dotted #13A4F2;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
  font-weight: bold;
  color: #222;
  padding-bottom: 2px;
}

@media (min-width: 576px) {
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .75rem;
    padding-left: .75rem;
  }
}

.jumbotron.bg-dark {
  background-color: #222 !important;
}

.jumbotron h1, .jumbotron .lead {
  color: #fff;
}

.jumbotron a:hover {
  color: #13A4F2;
  text-decoration: none;
  border-bottom: 1px dotted #13A4F2;
  padding-bottom: 2px;
}

.loader, .notfound {
  position: relative;
  width: 3rem;
  height: 4rem;
  border: 0.2rem solid transparent;
  border-top-color: #13A4F2;
  border-bottom-color: #222;
  border-radius: 50%;
}
.loader {
  -webkit-animation: spinner 2s linear infinite;
  animation: spinner 2s linear infinite;
}
.notfound {
  transform: rotate(90deg);
}
.loader:before, .notfound:before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  right: 0.2rem;
  bottom: 0.2rem;
  border: 0.2rem solid transparent;
  border-top-color: #13A4F2;
  border-bottom-color: #222;
  border-radius: 50%;
}
.loader:before {
  -webkit-animation: spinner 3s linear infinite;
  animation: spinner 3s linear infinite;
}
.notfound:before {
  transform: rotate(-90deg);
}
.loader:after, .notfound:after {
  content: "";
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  right: 0.6rem;
  bottom: 0.6rem;
  border: 0.2rem solid transparent;
  border-top-color: #13A4F2;
  border-bottom-color: #222;
  border-radius: 50%;
}
.loader:after {
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}
.notfound:after {
  transform: rotate(180deg);
}

.notfound-X, .notfound-X:before, .notfound-X:after {
  content: "";
  width: 100%;
  height: 100%;
}
.notfound-X:before, .notfound-X:after {
  border-top: .2rem solid red;
  position: absolute;
  height: .1rem;
  top: 46%;
  left: 0;
  right: 0;
  bottom: 0;
}
.notfound-X:before {
  transform: rotate(-45deg);
}
.notfound-X:after {
  transform: rotate(45deg);
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
